body{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
   
    background-position: center;
 background-size: cover;
 background-repeat: no-repeat;
 background-attachment: fixed;
 justify-content: center;
 
 }
       .carousel{
          left: 10%;
          top: 28px;
          border: 5px solid rgb(0, 255, 255) ;
          border-radius: 5px;
          box-shadow:  5px 6px 8px 10px rgb(0, 78, 109) ;
       }
       .conteiner-logo{
       height: 90%;
       width: 100%;
      background-color: rgb(0, 255, 255);
      justify-content: center;
      align-items: center;
      display: flex;
      position: relative;
       
      }
       .img-thumbnail{
      width: 650px;
     height: 220px;
      margin-left:0% ;
      margin-right: 15%;         

       }
       .float-end{
          width: 650px !important;
          height: 220px !important;
          margin-left: 10%;
       
       }
       @media only screen and (max-width: 600px) {
          .float-end  {
            width: 415px !important;
            height: 90px !important;
            padding-right: 0%;
            padding-top: 30px;
         

               
       }
       }
       @media only screen and (max-width: 600px) {
          .conteiner-logo {
        border: none;
        width: 100%;
       display: block;
       height: auto;
       z-index: 100;
        background-color: rgb(0, 255, 255);
       }
       }
       @media only screen and (max-width: 600px) {
          .img-thumbnail {
       width: 100px;

       max-width: 100px;
       height: 150px;
      
       margin-left: 5% ;
       border-radius: 15px;
     
      
     border: solid rgb(0, 153, 255);
       }
       }

      